<!----------------------------------MAIN FOOTER------------------------------------>
<footer ng-cloak ng-if="footerType==='main-footer'" style="overflow: hidden;">
	<div class="t2-foot">
		<div class="row pageFooter">
			<div class="col-12 col-md-7 table2-Footer">
				<div class="rowHover">
					<div class="col-md-3">
						<div class="t2-head">ABOUT US</div>
						<a id="hover-main-footer" href="contact" class="t2-href">Contact Us</a><br>
						<a id="hover-main-footer" href="contact" class="t2-href">About Us</a><br>
						<a id="hover-main-footer" href="contact" class="t2-href">Career</a><br>
						<a id="hover-main-footer" href="contact" class="t2-href">Press</a><br>
						<a id="hover-main-footer" href="contact" class="t2-href">Bookkart Stories</a>
					</div>
					<div class="col-md-3">
						<div class="t2-head">HELP</div>
						<a id="hover-main-footer" href="contact"  class="t2-href">Payment</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">Shipping</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">Qualification</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">FAQs</a><br>
					</div>
					<div class="col-md-3">
						<div class="t2-head">POLICY</div>
						<a id="hover-main-footer" href="contact"  class="t2-href">Payment</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">Shipping</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">Qualification</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">FAQs</a><br>
					</div>
					<div class="col-md-3">
						<div class="t2-head">SOCIAL</div>
						<a id="hover-main-footer" href="contact"  class="t2-href">Contact Us</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">About Us</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">Career</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">Press</a><br>
						<a id="hover-main-footer" href="contact"  class="t2-href">BooKart Stories</a><br>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5">
				<div class="row" id="row-mainfooter">
					<div class="col-md-6 t2-sidefooter">
						<div  class="t2-head">Mail us:</div>
						<p class="t2-paragraphFooter">BooKart Internet Pvt Ltd Block B (Begonia),</p>
						<p class="t2-paragraphFooter">Ground Floor, Embassy Tech Village,
						<p class="t2-paragraphFooter">Outer Ring Road, Devarabeesanahalli Village,</p>
						<p class="t2-paragraphFooter">Varthur Hobli, Bengaluru East Taluk,</p>  
						<p class="t2-paragraphFooter">Bengaluru District,</p>
						<p class="t2-paragraphFooter">Karnataka, India, 560103.</p>
					</div>
					<div class="row" id="row-mainfooter-content">
						<div class="col-md-6 t2-sidefooter">
							<div class="t2-head">Registered message address:</div>
							<p class="t2-paragraphFooter">BooKart Internet Private Limited,</p>
							<p class="t2-paragraphFooter">Vaishnavi Summit, Ground Floor, 7th Main,</p>
							<p class="t2-paragraphFooter">80 Feet Road, 3rd Block,</p>
							<p class="t2-paragraphFooter">Koramangala,</p>
							<p class="t2-paragraphFooter">Bengaluru - 560034</p>
							<p class="t2-paragraphFooter">India</p>
							<p class="t2-paragraphFooter">CIN : U51109KA2012PTC066107</p>
							<p class="t2-paragraphFooter">Telephone:
							<a href="tel:18002089898">1800 208 9898</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row line">
			<div class="col-md-12 lastSection">
				<div class="row defect">
					<div class="col-md-2">
						<span class="fa fa-shopping-bag symbol"></span>
						<a id="hover-main-footer" href="contact" class="t2-href">Sell On BooKart</a>
					</div>
					<div class="col-md-2">
						<span class="fa fa-star-o symbol"></span>
						<a id="hover-main-footer" href="contact" class="t2-href">Advertise</a>
					</div>
					<div class="col-md-2">
						<span class="fa fa-gift symbol"></span>
						<a id="hover-main-footer" href="contact" class="t2-href">Gift Card</a>
					</div>
					<div class="col-md-2">
						<span class="fa fa-question symbol"></span>
						<a id="hover-main-footer" href="contact" class="t2-href">Help Center</a>
					</div>
					<div class="col-md-2">
						<a id="hover-main-footer" href="contact" class="t2-href">2007-2018 BooKart.com</a>
					</div>
					<div class="col-md-2">
						<img src="public/imgCard/visa.png" alt="visa" class=" image">
						<img src="public/imgCard/discover.png" alt="discover" class=" image">
						<img src="public/imgCard/mastercard.png" alt="mastercard" class=" image">
						<img src="public/imgCard/rupay.png" alt="rupay" class=" image">
						<img src="public/imgCard/paypal.png" alt="paypal" class=" image">
						<img src="public/imgCard/express.png" alt="express" class=" image"> 
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!---------------------------------CHECKOUT FOOTER------------------------------------>
<footer class="footer" ng-cloak ng-if="footerType==='checkout-footer'">
	<div>
		<div class="col col-sm-8 foot1" >
			<span class="foot">Policies:
				<a id="hover-checkout-footer" href="#/returnpolicy" class="foot2">Return policy</a>
				<a id="hover-checkout-footer" href="#/returnpolicy" class="foot2">Terms of use</a>
				<a id="hover-checkout-footer" href="#/returnpolicy" class="foot2">Security</a>
				<a id="hover-checkout-footer" href="#/returnpolicy" class="foot2">Privacy</a>
				<a id="hover-checkout-footer" href="#/returnpolicy" class="foot2">Infringement</a>
			</span>
			<span class="f-year">
					@2007-

					2018
				<span>BooKart.com.</span>
			</span>
			<!-- <div class="col col-sm-4 need">
				<span>Need Help?</span>
				<span>
					visit the
				</span>
			</div> -->
		</div>
	</div>
</fSooter>