
<!----------------------------------- MAIN HEADER STARTS ------------------------------------->
<!-- <header class="main-header" ng-cloak > -->
<!-- <div id="headerWrapper" ng-cloak ng-controller="HeaderCtrl" ng-if = "headerType === 'main-header'">
<span class="logo pull-left">{{appDetails.title}}</span>
<span class="tagline pull-left">{{appDetails.tagline}}</span>
    <div class="nav-wrapper pull-left">
        <div class="hover">
            <ul class="nav nav-pills">
                <li class="active"><a href="#/books">Books</a></li>
                <li><a class="header-buttons" href="#/kart">Closet</a></li>
                <button class="btn btn-info pull-right"><a href="#/Buy">Buy</a></button>
             </ul>
        </div>
    </div>
</div> -->
<!-- </header> -->

<!----------------------------------- MAIN HEADER ENDS ------------------------------------->
<!----------------------------------------------- CHECKOUT-HEADER STARTS --------------------------->

<!-- <header class="checkout-header" ng-cloak ng-if = "headerType === 'checkout-header'">
	<div class="container-checkout-header" >
			<div>
				<div class="row">
					<div class="col-12 col-md-9 checkout-header">
						<div class="content-checkout-header">
							<a href="/"><img width="75" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_4ee2f9.png" alt="Flipkart" title="Flipkart" class= "checkout-header-flipkart" ></a>
							<a href="/vip" class= "checkout-header-explore" id="checkout-header-explore-hover">Explore
							<span class="checkout-header-plus">Plus</span>
							<img width="10" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/plus_b13a8b.png" class="checkout-header-plus-image">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header> -->

<!--------------------- CHECKOUT HEADER END------------->