
<!----------------------------------- LOGIN-MODAL STARTS ---------------------->
<!------------------------------- IMAGE SIDE STARTS ---------------------------->
  <div class="modal-image-side-form">
    <div class="row" id="form-color">
      <!----Modal-cross-button-starts----->
      <div>
        <button type="button" class="close" data-dismiss="modal" id="Modal-cross-button">X</button>
      </div>
      <!----Modal-cross-button-ends------>
      <div class="form col-12 col-md-4 side-image">
        <div>
          <div class="side-image-content">
            <span>LOGIN</span>
            <!-- <h1>{{name.kk}}</h1> -->
          </div>
          <div class="side-image-paragraph">
            <P>Get access to your orders, Wishlist and recommdation.</P>
          </div>
        </div>
      </div>
<!---------------------- IMAGE SIDE ENDS HERE ---------------------------->

<div class="col-12 col-md-6">
  <form class="login-form">
    <div class="right-side-div">
            <div class="image-side-same">
              <label class="same-properties-right-side-label">Email-id/ Mobile Number:</label></br>
              <input type="text" name="Email-id/Mobile-number" placeholder="" class="effect-1-Email-mobile-password-same" id="modal-input-mobile">
            </div>
            <div class="image-side-same">
              <label class="same-properties-right-side-label">Password:</label></br>
              <input type="password" name="password" class="effect-1-Email-mobile-password-same"  id="modal-input-password">
              <div class="forgot">
                <label class="forgot-label">Forgot?</label>
              </div>
            </div>
            </div>
            <div>
            <div class="right-side-both-botton">
              <button class="btn btn-default pull-left" id="right-side-login-button" >
                <span class="login-botton-span"  id="modal-input-login">Login</span>
              </button>
              <button class="btn btn-default pull-left" id="new-user">
                <a href="/partials/sign-up.html" data-toggle="modal" data-target="#theModal" >New to Bookcart? Sign-up</a>
              </button>
            </div>
            </div>
            <div class="bottom-portion">
              <span class="bottom-portion-span"><a>We no longer support login via Social accounts. To recover your old accounts please</a></span>
              <div class="bottom-portion-click-here-div">
                <span class="bottom-portion-click-here-span">Click here</span>
              </div>
            </div>
        </form> 
      </div>
    </div>
  </div>

  <div id="theModal" class="modal fade text-center">
            <div class="modal-dialog">
              <div class="modal-content">
              </div>
            </div>
          </div>
<!----------------------------------- LOGIN-MODAL ENDS ---------------------->
<!----------------------------------- SIGN-UP MODAL STARTS ---------------------->


<!----------------------------------- SIGN-UP MODAL ENDS ---------------------->




